<div class="container">
  <div class="signup-container">
    <mat-card>
      <mat-card-title>Sign Up</mat-card-title>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput type="text" [(ngModel)]="name" name="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput type="text" [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" [(ngModel)]="password_confirmation" name="password_confirmation" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Sign Up</button>
        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
      </form>
    </mat-card>
    <mat-card>
      <mat-card-title>Already registered?</mat-card-title>
      <mat-card-content>
        <button mat-raised-button color="primary" (click)="navigateToLogin()">Login</button>
      </mat-card-content>
    </mat-card>
  </div>
  <img src="assets/images/undraw_environment_iaus.svg"/>
</div>
