.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card {
  width: 400px;
}

button {
  margin: 10px;
}
