.dashboard-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .dashboard-container {
    display: flex;
    flex-direction: column-reverse;
  }

  mat-card {
    width: 95% !important;
  }

  img {
    width: 50%;
    height: auto !important;
    margin: 10px;
  }
}

.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card {
  width: 400px;
  padding: 10px;
}

button {
  margin: 10px;
}

img {
  height: 600px;
}

mat-card {
  text-align: center;
}
