.barcode-scanner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &--buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .row-container {
    flex-direction: column;
    align-items: center;

    &--buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }

  .barcode-scanner-container {
    width: 100%;
    justify-content: center;
  }

  img#mobile {
    display: flex !important;
    width: 50% !important;
    margin: 10px;
  }
  img#pc {
    display: none !important;
  }

  mat-card {
    width: auto !important;
  }
}

mat-card {
  width: 400px;
  padding: 10px;
  margin: 10px;
}

#warning {
  margin: 10px;
}

#info {
  height: 85vh;
}

mat-error{
  color: red;
}

img {
  width: 30%;
}

img#mobile {
  display: none;
}

img#pc {
  display: flex;
}

button {
  margin: 10px;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:none;
  text-align: center;
  border-radius: 10px;
  div > button {
    margin: 10px 10px;
  }
  padding: 0px;
}

#diag-card{
  margin: 0px;
  padding: 5px 10px;
}
