<div class="row-container">
  <img id="mobile" src="assets/images/undraw_throw_away_re_x60k.svg">
  <div class="barcode-scanner-container">
    <mat-card>
      <mat-card-title>Scan Barcode</mat-card-title>
      <zxing-scanner (scanSuccess)="onScanSuccess($event)" [formats]="formatsEnabled" [tryHarder]=true></zxing-scanner>
      <section class="results" *ngIf="serialCode">
        <div>
          <small>Detected barcode: </small>
          <strong>{{ serialCode }}</strong>
        </div>
      </section>
      <div class="row-container--buttons">
        <button mat-raised-button color="primary" (click)="reset()">Reset</button>
        <button mat-raised-button color="primary" [routerLink]="['../dashboard']">Go Back</button>
      </div>
    </mat-card>
    <div *ngIf="errorMessage" class="barcode-scanner-container">
      <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
      <button *ngIf= "serialCode" mat-raised-button color="primary" (click)="showDialog.showModal()">Suggest Product</button>
    </div>
    <mat-card>
      <mat-card-title>Upload Photo</mat-card-title>
      <mat-card-content id="warning">
        <p>Having trouble with barcode detection?</p>
        <p>Try uploading a photo of the barcode or use a camera with higher resolution!</p>
      </mat-card-content>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" />
      <button mat-raised-button color="primary" (click)="uploadPhoto()">Upload Photo</button>
    </mat-card>

  </div>
  <div class="barcode-scanner-container">
    <mat-card id="info">
      <mat-card-title>Product Information</mat-card-title>
      <p *ngIf="!instructions">{{DEFAULT}}</p>
      <mat-card-content *ngIf="instructions" [style.overflow]="'auto'">
        <p><b>Name: </b>{{productName}}</p>
        <p><b>Materials:</b></p>
        <ul>
          <li *ngFor="let material of materials">{{ material.name }}</li>
        </ul>
        <p><b>Instructions</b></p>
        <p>{{ instructions }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <img id="pc" src="assets/images/undraw_throw_away_re_x60k.svg">
</div>
<dialog #showDialog>
  <mat-card id="diag-card" *ngIf="showDialog.open">
    <mat-card-title>Suggest Product</mat-card-title>
    <mat-card-content>
      <p>Thank you for your contribution!</p>
      <p>Please provide the name of the detected product so that our admins can review it and add it to our database.</p>
      <mat-form-field>
        <mat-label>Product Name</mat-label>
        <input matInput [(ngModel)]="productName" required/>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" (click)="showDialog.close()">Cancel</button>
        <button mat-raised-button color="accent" (click)="showDialog.close(); suggest();">Submit</button>
      </div>
    </mat-card-content>
  </mat-card>
</dialog>
