<div class="barcode-scanner-container">
  <mat-card>
    <mat-card-title>Scan Barcode</mat-card-title>
    <zxing-scanner (scanSuccess)="onScanSuccess($event)" [formats]="formatsEnabled" [tryHarder]=true></zxing-scanner>
    <section class="results" *ngIf="qrResultString">
      <div>
        <small>Result</small>
        <strong>{{ qrResultString }}</strong>
      </div>
    </section>
    <mat-card-content *ngIf="scanResult">{{ scanResult }}</mat-card-content>
    <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
    <button mat-raised-button color="primary" [routerLink]="['../dashboard']">Cancel</button>
  </mat-card>
</div>
