.serial-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

mat-card {
  width: 400px;
  margin: 10px;
  padding: 10px;
}

#info {
  height: 50vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

button {
  margin: 10px;
}

img {
  width: 30%;
}
