.serial-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 10px;
  padding: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

button {
  margin: 10px;
}
