.serial-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .serial-code-container {
    width: 80%;
  }

  mat-card {
    width: 100% !important;
  }

  .page-container {
    flex-direction: column-reverse !important;
    align-items: center;
  }

  img {
    width: 40% !important;
    margin: 10px;
  }

}
.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

mat-card {
  width: 400px;
  margin: 10px;
  padding: 10px;

}

#info {
  height: 50vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

button {
  margin: 10px;
}

img {
  width: 30%;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:none;
  text-align: center;
  border-radius: 10px;
  div > button {
    margin: 10px 10px;
  }
  padding: 0px;
}

#diag-card{
  margin: 0px;
  padding: 5px 10px;
}
