.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 40px;
}

mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

img {
  width: 60%;
}
